params{
  // General parameters
  prefix = "input"
  skip_anno = false
  bed2D = false
  genome = false
  outdir = "./results"
  skip_overlap = false
  peaks = false
  unannotated = false
  multiple_anno = "concentrate"  //keep, concentrate, qvalue
  skip_interaction = true


  help = false
  name=false
  save_tmp = false
  mode = "basic" //basic, multiple, differntial

  annotate_interactions = false
  network = false
  network_mode = "factor" //Options: all (for all plac-seq interactions), factor (default, for all interactions have factor binding in at least on anchor point) or genes (show only interactions realted to specified gene list)
  genes = "No genes specified"
  complete = false

  // Multiple mode specific
  upset_plot = false
  circos_plot = false
  filter_genes = false
}
