params{
  // General parameters
  bed2D = false
  interaction_score_column = 9 //Column that contain interaction score (e.g. q-value). Default: 9 (FitHiChIP output format).
  peaks = false
  genome = false
  genes = "No_genes"
  bed2D_anno = false
  mode = "basic" //basic, multiple, differntial
  outdir = "$baseDir/result"
  prefix = "PLACseq"
  in_regions = "Not_specified" //Bed file with region to filter input file by. If "consensus", all inout beds will be merged and the consensus peak set will be used as regions.
  promoter_start = 2500 //Distance upstream of TSS to consider as a promoter
  promoter_end = 2500 //Distance downstream of TSS to consider as a promoter
  skip_promoter_promoter = false //If true, skip interaction-based annotation of peaks in promoter regions (default:false).
  binsize = 5000 //Binsize used for interactions. Deafult: 5000
  interaction_threshold = false //Lower distance threshold for interactions. Peaks with a distance to TSS < interaction_threshold, will be proximity annotated. Default: 2*binsize.
  close_peak_type = 'overlap' //Specifies how to handle interactions close to peaks. Options are overlap (anchor points overlap peak), bin (based on number of bins, bin 0 is the same as overlap) or distance (distance from peaks start/end to bin). Default: overlap.
  close_peak_distance = 5000 //Specify distance for peak annoation with close interaction. If --close_peak_type is bin (default) the option specifies number of bins +/- overlapping bin and if close_peaks_type is distance it specifies distance from peak start/end to bin. If in_regions and promoters used, this value will also be applied to promoter distance. Default: 1.
  close_promoter_type = 'overlap' //Specifies how to handle interactions close to promoter. Options are overlap (anchor point overlap promoter region specified by -promoter_start/promoter_end), bin (based on number of bins) or distance (distance from TSS to bin). Default: overlap.
  close_promoter_bin = 1 //Specify distance for interaction close to but not overlapping TSS if close_promoter_type='bin'. Specifies number of bins +/- overlapping bin and if close_peaks_type is distance it specifies distance from TSS to bin. Default: 1.
  close_promoter_distance_start = 5000 //Specify distance for interaction close to but not overlapping TSS, upstreams of TSS. Default: 2500.
  close_promoter_distance_end = 5000 //Specify distance for interaction close to but not overlapping TSS, downstreams of TSS. Default: 2500.
  filter_close="sum" // Depending on the close peak/promoter options, the same peak can be annotated to the same gene from interactions in neighboring bins. This options specifies how to handle this: no_filter (no filtering), peak (filter on peak_bin_distance firs and than TSS_bin_distance), tss (filter on TSS_bin_distance firs and than peak_bin_distance) or sum (sum of absolite values of peak_bin_distance and TSS_bin_distance). Default: sum
  proximity_unannotated = false //If true, peaks with a distance to TSS > interaction_threshold will be proximity annotated if not interaction-based annotated. Default:false.
  multiple_anno = "concentrate"  // How do deal with multiple annotation for a peak, options: keep, concentrate, one_annotation
  skip_anno = false
  annotate_interactions = false
  network = false
  network_mode = "f" //Options: a (for all plac-seq interactions), f (default, for all interactions have factor binding in at least on anchor point), g (show only interactions realted to specified gene list) or fg (filtered both for factor binding and gene list). If run in differntial mode, the option d is also available (simialr to factor but only differntial peaks (specified by log2FC/padj) are included. Use e for filtering on differntial expression (no need to specify gene.), or fe (comination of factor and expression).
  network_distal_only = false //Only include distal factor binding in network, default: false.
  promoter_promoter = false //If true, promoter-promoter interactions included in network
  use_peakscore = false
  complete = false
  env = "ICE_A_env"
  tss = "default"
  save_tmp = false
  help = false

  // Multiple mode specific
  upset_plot = false
  circos_plot = false
  filter_genes = false
  circos_use_promoters = false //Use promoters definition to look for TF occupancy in proximal regions in circos plot. Only valid when in_regions if specified.

  // Differntial mode specific
  peak_differential="No_differntial_peak"
  log2FC_column=3
  padj_column=9
  log2FC=1.5
  padj=0.05
  expression="No_expression"
  skip_expression=false
  expression_padj_column=9
  expression_log2FC_column=3
  expression_padj=0.05
  expression_log2FC=1.5
}
