params{
  bed2D = false
  genome = false
  peaks = false
  outdir = "./results"
  prefix = "input"

  skip_anno = false
  skip_overlap = false
  bed2D_anno = false
  unannotated = false

  skip_interaction = false
  multiple_anno = "concentrate"
  genes = false

  skip_plots = false

  help = false
  name=false
  save_tmp = false
}
