params{
  // General parameters
  bed2D = false
  peaks = false
  genome = false
  genes = "No genes specified"
  bed2D_anno = false
  mode = "basic" //basic, multiple, differntial
  outdir = "./results"
  prefix = "PLACseq"
  proximity_unannotated = false
  multiple_anno = "concentrate"  //keep, concentrate, qvalue
  skip_anno = false
  annotate_interactions = false
  network = false
  network_mode = "factor" //Options: all (for all plac-seq interactions), factor (default, for all interactions have factor binding in at least on anchor point) or genes (show only interactions realted to specified gene list)
  complete = false
  save_tmp = false
  help = false

  // Multiple mode specific
  upset_plot = false
  circos_plot = false
  filter_genes = false
}
